server {
       ssl_certificate          /etc/nginx/ssl/hls.bebop.lan.crt;
       ssl_certificate_key      /etc/nginx/ssl/hls.bebop.lan.key;

       listen 443 ssl default_server;

       root /var/www/html;

       index index.html index.htm index.nginx-debian.html;

       server_name hls.bebop.lan;

       location / {
                try_files $uri $uri/ =404;
                add_header Access-Control-Allow-Origin *;
       }
}
