<!DOCTYPE html>
<html>
<head>
  <title>Welcome to nginx!</title>
  <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" />
 <style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Welcome to proxmox!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>For online documentation and support please refer to
<a href="http://nginx.org/">nginx.org</a>.<br/>
Commercial support is available at
<a href="http://nginx.com/">nginx.com</a>.</p>

<video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    data-setup="{}"
  >
  <source
    src="https://hls.bebop.lan:8088/hls/tears_of_steel_1080p/playlist.m3u8"
    type="application/x-mpegURL" />

</video>

<p><em>Thank you for using nginx.</em></p>
<script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
</body>
</html>
