server {
    listen 8080 ssl;

    ssl_certificate          /etc/nginx/ssl/hls.bebop.lan.crt;
    ssl_certificate_key      /etc/nginx/ssl/hls.bebop.lan.key;


    # rtmp stat
    location /stat {
        rtmp_stat all;
        rtmp_stat_stylesheet stat.xsl;
    }
    location /stat.xsl {
        root /var/www/html/rtmp;
    }

    # rtmp control
    location /control {
        rtmp_control all;
    }
}

server {
    listen 8088 ssl;

    ssl_certificate          /etc/nginx/ssl/hls.bebop.lan.crt;
    ssl_certificate_key      /etc/nginx/ssl/hls.bebop.lan.key;

    location / {
        add_header Access-Control-Allow-Origin *;
        root /var/www/html/stream;
    }
}

types {
    application/dash+xml mpd;
}
