#!/usr/bin/bash

for contextA in $(kubectl config get-contexts --no-headers -o name); do
    for contextB in $(kubectl config get-contexts --no-headers -o name); do
        if [[ ! "$contextA" == "$contextB" ]]; then
          if [[ "$contextA" == "south" ]]; then
            bash /tmp/script-kiali.sh  $contextA /root/.kube/config $contextB
          fi
        fi
    done
done
