---
# tasks file for roles/postgres
- name: apt update
  apt:
    update-cache: yes
    cache_valid_time: 3600

- name: Install postgres
  apt:
    name: "{{ packages }}"
    state: present

- name: Enable listen_addresses
  replace:
    path: /etc/postgresql/15/main/postgresql.conf
    regexp: '(^#listen_addresses\s=\s)(.*)$'
    replace: 'listen_addresses = \2'
    backup: yes

- name: Create database
  community.postgresql.postgresql_db:
    state: present
    name: "{{ db_name }}"
  become: true
  become_user: postgres

- name: Create db user
  community.postgresql.postgresql_user:
    state: present
    name: "{{ db_user }}"
    password: "{{ db_password }}"
  become: true
  become_user: postgres

- name: Grant db user access to app db
  community.postgresql.postgresql_privs:
    type: database
    database: "{{ db_name }}"
    roles: "{{ db_user }}"
    grant_option: no
    privs: all
  become: true
  become_user: postgres

- name: Allow md5 commection for the db user
  community.postgresql.postgresql_pg_hba:
    dest: "/etc/postgresql/15/main/pg_hba.conf"
    contype: host
    databases: all
    method: md5
    users: "{{ db_user }}"
    create: true
  become: true
  become_user: postgres
  notify: restart_postgres
