---
# tasks file for roles/hls
- name: apt update
  apt:
    update-cache: yes
    cache_valid_time: 3600

- name: Install nginx
  apt:
    name: "{{ packages }}"
    state: present

- name: Create directory including videos
  file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
  with_items:
    - "/var/www/html/rtmp"
    - "/var/www/html/stream"
    - "/var/www/html/stream/dash"
    - "/var/www/html/stream/hls"

- name: Create directory nginx
  file:
    path: /etc/nginx/ssl
    state: directory

- name: Copy certificates\
  template:
    src: "{{ item }}"
    dest: /etc/nginx/ssl
  with_items:
    - hls.bebop.lan.crt
    - hls.bebop.lan.key

- name: Download films
  get_url:
    url: http://ftp.halifax.rwth-aachen.de/blender/demo/movies/ToS/tears_of_steel_1080p.mov
    dest: /var/www/html/stream/hls/tears_of_steel_1080p.mov

- name: Copy Exec
  template:
    src: create-vod-hls.sh.j2
    dest: /var/www/html/stream/hls/create-vod-hls.sh

- name: Execute script
  command:
  args:
    chdir: /var/www/html/stream/hls
    cmd: bash /var/www/html/stream/hls/create-vod-hls.sh /var/www/html/stream/hls/tears_of_steel_1080p.mov

- name: Copy Nginx configuration in place.
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf
    mode: 0644

- name: Copy rtmp file
  template:
    src: rtmp.j2
    dest: /etc/nginx/sites-available/rtmp

- name: Copy rtmp file
  template:
    src: default.j2
    dest: /etc/nginx/sites-available/default

- name: Create the link for rtmp
  file:
    src: /etc/nginx/sites-available/rtmp
    dest: /etc/nginx/sites-enabled/rtmp
    state: link
  notify: restart nginx

- name: Delete Origin index file
  file:
    path: /var/www/html/index.nginx-debian.html
    state: absent

- name: Copy index html
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data

- name: Copy Stat XLS
  get_url:
    url: https://raw.githubusercontent.com/arut/nginx-rtmp-module/master/stat.xsl
    dest: /var/www/html/rtmp/stat.xsl
    owner: www-data
    group: www-data
