---
# tasks file for ansible/roles/kubecost
- name: Install helm if not exists
  unarchive:
    src: "https://get.helm.sh/helm-v{{ addons_helm_version }}-linux-amd64.tar.gz"
    dest: /usr/local/bin
    extra_opts: "--strip-components=1"
    owner: root
    group: root
    mode: 0755
    remote_src: true
  args:
    creates: /usr/local/bin/helm

- name: Install Helm Diff
  kubernetes.core.helm_plugin:
    plugin_path: "https://github.com/databus23/helm-diff"
    state: present

- name: Add stable kubecost chart repo
  kubernetes.core.helm_repository:
    name: kubecost
    repo_url: "https://kubecost.github.io/cost-analyzer/"

- name: Create namespace
  kubernetes.core.k8s:
    name: kubecost
    api_version: v1
    kind: namespace
    state: present

- name: Copy pvc
  copy:
    src: pvc.yaml
    dest: /tmp/pvc.yaml

- name: Apply pvc manifest
  kubernetes.core.k8s:
    state: present
    src: /tmp/pvc.yaml
    namespace: kubecost

# - name: Install kubecost
#   kubernetes.core.helm:
#     name: kubecost
#     chart_ref: kubecost/cost-analyzer
#     release_namespace: kubecost
#     create_namespace: true
#     set_values:
#       - value: kubecostToken=aGVsbUBrdWJlY29zdC5jb20=xm343yadf98
#         value_type: string
#     values:
#       persistentVolume:
#         enabled: false
#       prometheus:
#         nodeExporter:
#           enabled: true
#         serviceAccounts:
#           nodeExporter:
#             create: true
#         server:
#           persistentVolume:
#             enabled: false

- name: Install kubecost
  kubernetes.core.helm:
    name: kubecost
    chart_ref: kubecost/cost-analyzer
    release_namespace: kubecost
    create_namespace: true
    set_values:
      - value: kubecostToken=aGVsbUBrdWJlY29zdC5jb20=xm343yadf98
        value_type: string
    values:
      service:
        type: NodePort
        nodePort: 31090
      persistentVolume:
        size: 5Gi
        dbSize: 5Gi
        storageClass: longhorn
      prometheus:
        nodeExporter:
          enabled: true
        serviceAccounts:
          nodeExporter:
            create: true
        server:
          persistentVolume:
            size: 5Gi
            storageClass: longhorn

- name: Patch kubecost service
  shell: |
    kubectl patch svc kubecost-cost-analyzer -n kubecost -p '{"spec":{"externalIPs":["{{ prefix }}.230"]}}'
