deploymentMode: SingleBinary

tempo:
  reportingEnabled: false

  storage:
    trace:
      backend: local
      local:
        path: /var/tempo/traces

  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

singleBinary:
  replicas: 1

  persistence:
    enabled: true
    storageClass: "{{ storage_class }}"
    size: 1Gi

service:
  type: ClusterIP

gateway:
  enabled: false

memcached:
  enabled: false

metricsGenerator:
  enabled: false
